@import "tailwindcss";

.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer & Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@media (min-width: 880px) {
  .aspect-video-880 {
    aspect-ratio: 16 / 9;
  }
}


.skeleton-shimmer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #2a2a2a 0%, #3a3a3a 30%, #444 60%, #2a2a2a 100%);
}

.skeleton-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  height: 100%;
  width: 60%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.13), transparent);
  animation: skeleton-shimmer-move 1.2s linear infinite;
}

@keyframes skeleton-shimmer-move {
  100% {
    left: 120%;
  }
}

@keyframes slideInSidebar {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInSidebar 0.26s cubic-bezier(.66,.02,.6,1.03);
}
